{
  "Parameters": {
    "CORS_ALLOWED_HEADERS": "Access-Control-Allow-Headers,Origin,Accept,X-Requested-With,Content-Type,Access-Control-Request-Method,Access-Control-Request-Headers,X-Api-Key",
    "CORS_ALLOWED_METHODS": "POST,GET,PUT,PATCH,DELETE,OPTIONS",
    "CORS_ALLOWED_ORIGINS": "*",
    "DATABASE_URL": "postgresql://username:password@host.docker.internal:5432/database?sslmode=disable"
  }
}
